* {
    font-family: "Outfit", Arial, sans-serif;
    font-optical-sizing: auto;
    line-height: 1.25rem;
}

pre,
code {
    font-family: monospace;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 4px;
}
