---
import Page from "../layouts/Page.astro";
---

<Page title="Not found">
    <main>
        <h2>Page not found</h2>
        <span>Try a different one from the home page ^</span>
    </main>
</Page>
