---
import Page from "../layouts/Page.astro";
import "../styles/global.css";
---

<Page title="Device diagnostics" gutterPercent={0}>
    <main>
        <h2>Touch event and browser diagnostics</h2>
        <h3>Pointers and hover states</h3>
        <div class="diagnostic-section">
            <table>
                <tr id="diagnostic-header-row"> </tr>
                <tr id="diagnostic-result-row"> </tr>
            </table>
        </div>
        <br />
        <br />
        <br />
        <h3>Events and clicks</h3>
        <div class="diagnostic-section" id="diagnostic-event-section">
            <button id="diagnostic-event-target">Click to register events</button>
            <textarea></textarea>
            <div id="diagnostic-output"></div>
        </div>
        <br />
        <br />
        <br />
        <h3>Important objects</h3>
        <button id="diagnostic-object-event-harvester">Gather event information</button>
        <div class="diagnostic-section">
            <div id="diagnostic-object-output"></div>
        </div>
        <br />
        <br />
        <br />
        <h3>General info grab bag</h3>
        <div class="diagnostic-section">
            <div id="diagnostic-grab-bag-output"></div>
        </div>
    </main>
    <script src="../scripts/diagnostic.ts"></script>
</Page>
<!-- 
    These styles must use global because many elements that this script handles are dynamically created - 
    Astro's scoping breaks the style of these dynamically added elements. To keep styles specific, they 
    are prefixed with `diagnostic-`
-->
<style is:global lang="less">
    #diagnostic-output {
        height: 100px;
        width: 400px;
        overflow-y: scroll;

        font-size: 14px;
        border: 1px solid;
        border-radius: 4px;
        padding-left: 4px;
    }

    .diagnostic-section {
        display: flex;

        > * {
            margin-top: 32px;
            margin-left: 16px;
        }
    }

    #diagnostic-event-section {
        height: 80px;
    }

    .diagnostic-object-title {
        font-weight: bold;
        position: absolute;
        background: lightgrey;
        padding: 8px;
    }

    .diagnostic-object-entry {
        display: flex;
        padding: 8px;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 0;
        border: 1px solid black;

        pre,
        .diagnostic-content {
            max-height: 400px;
            overflow-y: scroll;
            padding-top: 24px;
        }

        .diagnostic-content {
            padding-top: 48px;
        }
    }

    #diagnostic-object-output,
    #diagnostic-grab-bag-output {
        display: flex;
        flex-grow: 1;
        flex-direction: row;
        flex-wrap: wrap;
    }
</style>
