---
import Page from "../layouts/Page.astro";
---

<Page title="Welcome!" showHome={false}>
    <main>
        <h2>Hi there!</h2>
        <div>
            Thanks for checking out my site. Although there's a bit of construction going on right
            now (🚧) you can still find some of the front-end utilities I've built below.
            <br /><br />Hopefully I'll continue to find interesting stuff to host here in my corner
            of the Internet. Until then - I hope you find these tools useful!
        </div>
        <h3>Frontend utilities and debugging tools</h3>
        <ul>
            <li><a href="/diagnostic">Device diagnostics</a></li>
            <li><a href="/events">Touch event output</a></li>
            <li>
                <a href="https://codepen.io/JarodG/pen/wvNePXV">Text input handling (CodePen)</a>
            </li>
        </ul>
    </main>
</Page>
