---
import Page from "../layouts/Page.astro";
---

<Page title="Under construction">
    <main>
        <h2>Under construction</h2>
        <h3>Utilities and debugging</h3>
        <ul>
            <li><a href="/diagnostic">Device diagnostics</a></li>
            <li><a href="/events">Touch event output</a></li>
            <li>
                <a href="https://codepen.io/JarodG/pen/wvNePXV">Text input handling (CodePen)</a>
            </li>
        </ul>
    </main>
</Page>
