---
const { imageUrl, link, altText } = Astro.props;
---

<a href={link} target="_blank"><img src={imageUrl} alt={altText} /></a>
<style lang="less">
    a {
        display: flex;
    }

    img {
        width: 36px;
        aspect-ratio: 1;
    }
</style>
