---
import Page from "./Page.astro";
import { parseAccessKeys } from "../util";

/**
 * Note that ANY page that uses this functionality will have to also have `prerender = false`.
 * The console should warn you about attempting to access request headers if you forget to do so.
 */
export const prerender = false;

interface Props {
    requiredAccessKey: string;
}

const { requiredAccessKey: requiredAccessKey } = Astro.props;

const hasAccess = parseAccessKeys(Astro.cookies).includes(requiredAccessKey);
---

{
    !hasAccess && (
        <Page title="Key needed">
            <div>
                <h4>Limited access</h4>
                <p>If you would like to view this content and don't know what this is - text me.</p>
                <form method="POST" action="/access">
                    <input type="text" name="accessKey" />
                    <input type="hidden" name="originPath" value={Astro.url.pathname} />
                    <button>Submit</button>
                </form>
            </div>
        </Page>
    )
}
{hasAccess && <slot />}

<style>
    form {
        display: flex;
        gap: 8px;
    }
</style>
