---
import { getCollection } from "astro:content";

interface Props {
    collection: "blog" | "travel";
}

const { collection } = Astro.props;
const allEntries = await getCollection(collection);
---

<h2>All posts</h2>

<ul>
    {
        allEntries.map((entry) => {
            return (
                <li>
                    <a href={`/${collection}/${entry.slug}`}>{entry.data.title}</a>
                </li>
            );
        })
    }
</ul>
