---
import Footer from "../components/Footer.astro";
interface Props {
    title: string;
    showHome?: boolean | undefined;
}

const { title, showHome = true } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Under construction - Portfolio site" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <a style={!!showHome ? "" : "display: none"} href="/">Home</a>
        <slot />
        <Footer />
    </body>
</html>
<style is:global>
    html {
        font-family: sans-serif;
    }
</style>
<style lang="less">
    body {
        flex-grow: 1;
        justify-content: space-between;
    }

    html,
    body {
        display: flex;
        flex-direction: column;
    }

    .footer {
        position: fixed;
        bottom: 0;
    }
</style>
